
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(154, 123, 110);
}

.header {
    display: flex;
    margin: auto;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 2398, 19);
}

.results {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 500px;
}
.turn-display {
    margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.error-display {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
    width: 450px;
    text-align: center;
}

.result-display {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 600;
    width: 550px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
}

.pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    width: 900px;
}

.genji {
    background-image: url(genji.png);
    z-index: -1; /* puts element below the other */
    height: 1300px;
}

.hanzo {
    background-image: url(hanzo.png);
}
.board {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    align-content: center;
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: 40px 0;
    box-shadow: 0px 0px 30px black;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    height: 100px;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}

.box {
    display: flex;
    font-size: 60px;
    font-weight: bold;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    border: 1px solid black;
    background-color: rgb(215, 212, 208);
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}